{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-start">
      <div class="col-6">
        
<h2>What is this?</h2>
FireSale is a ticket exchange built specifically for HBS students, by students.  Start curing your FOMO by clicking on "Ticket Listing."

</br>

<h2>Why FireSale?</h2>
HBS alone has ~2,000 students attending 1-2 ticketed events per week ranging from conferences to club nights to treks across the world. With high demand and limited supply for each event, there is a highly active yet poorly organized exchange of secondary tickets. In addition, a typical MBA’s schedule that is frequently double-booked and always changing lends itself to purchasing/selling decisions occurring all the way up to the start of an event. Currently, students rely on section-specific or class-specific Slack groups, Facebook groups, club WhatsApp groups, or individual texts to friends to find buyers/sellers. On top of that, there is no seamless way to facilitate the transaction of ticket and payment.

        </div>
    </div>
</div>

{% endblock %}