{% extends 'base.html' %}



{% block content %}

<h1>Tickets Currently for Sale</h1>

</br>

<h5>Click "Buy ticket" below to be connected via email with the seller.</h5>

</br>

<input type="text" id="searchTicketInput" onkeyup="searchTicket()" placeholder="Search for an event..." title="Type in the name of an event">

        {% for item in ticker %}
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <h5 class="card-title">{{item}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{item.date}} - {{item.location}}</h6>
                </div>
                <div class="col-sm-4 my-auto">
                  <h6 class="text-muted">{{item.user_whole_name}}</h6>
                </div>
                <div class="col-sm-2 my-auto d-flex justify-content-end">
                  <h6 class="text-muted">${{item.price}}</h6>
                </div>
                <div class="col-sm-2 my-auto d-flex justify-content-end">
                  {% if user.is_authenticated %}
                  <a href="{% url 'delete' item.id %}" class="btn btn-outline-primary">Buy ticket</a>
                  {% else %}
                  <a href="{% url 'login' %}" class="btn btn-outline-primary">Buy ticket</a>
                  {% endif %}
                </div>
                </div>
            </div>
          </div>
        {% endfor %}
  
</br>
</br>


{% if user.is_authenticated %}

  {% for field in form %}
  {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
  {% endfor %}
  {% endfor %}

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAddForm" aria-expanded="false" aria-controls="collapseAddForm">
    Add a ticket for sale
  </button>
</p>
<div class="collapse" id="collapseAddForm">
  <div class="float-left card card-body">
  <div class="float-left login-form"> 
    <form action="{% url 'add_stock' %}" class="form my-2 my-lg-0" method="POST">
        {% csrf_token %}
      <h5 class="text-center">Tell us about the ticket you're selling</h5>

      <div class="form-group"><input class="form-control mr-sm-2" type="search" placeholder="Event Name" aria-label="Search" name="tickerlong"></div>
      <div class="form-group"><input class="form-control mr-sm-2" type="date" placeholder="Date" aria-label="Search" name="date"></div>
      <div class="form-group"><input class="form-control mr-sm-2" type="text" placeholder="Location" aria-label="Search" name="location"></div>
      <div class="form-group"><input class="form-control mr-sm-2" type="number" placeholder="Asking Price" aria-label="Search" name="price"></div>
      <div class="form-group"><input type="hidden" name="user_whole_name" value="{{ user.get_full_name }}"></div>
      <div class="form-group"><input type="hidden" name="seller_email" value="{{ user.email }}"></div>
      <div class="form-group"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Post Ticket</button>
    </form>
  </div>
</div>
</div>
{% else %}
  </br>
  <span>Please <a href="{% url 'login' %}">log in</a> to post a ticket for sale.</span>
{% endif %}

<script>
  
  function searchTicket() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchTicketInput");
    filter = input.value.toUpperCase();
    alltix = document.getElementsByClassName("card");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < alltix.length; i++) {
      event = alltix[i].getElementsByClassName("card-title")[0];
      if (event) {
        txtValue = event.textContent || event.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          alltix[i].style.display = "";
        } else {
          alltix[i].style.display = "none";
        }
      }
    }
  }
  
  </script>


{% endblock %}