{% extends 'base.html' %}

{% block content %}

<div class="login-form">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="text-center">Sign up</h2> 
        {% for field in form %}      
        <div class="form-group">
            {{ field.label_tag }} 
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>            
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </div>     
    </form>
</div>


  <!-- <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form> -->

{% endblock %}